.main{
    width: 100%;
    margin-top: 50px;
}

.main ::selection{
    background-color: #00000000;
}

#table{
    width: 100%;
    /* text-align: center; */
}

.align-left{
    text-align: left;
}

.align-center{
    text-align: center;
}

a{
    font-style: italic;
    color: black;
    text-decoration: none;
}

img{
    width: 170px;
}

.btn{
    float: right;
}